@media (min-width:992px) and (max-width:1200px){
   
    .header-title h1 {
        font-size: 39px;
    }
    .header-title p , footer p, .ul li{
        font-size: 12px;
    }
    .section-second p {
        font-size: 20px;
    }
    footer h3 {
        font-size: 24px;
    }
    
}
@media (min-width:768px) and (max-width:992px){
    .ul li {
        font-size: 10px;
    }
    .header-title h1 {
        font-size: 28px;
    }
    .header-title p {
        font-size: 8px;
    }
    .section-second p{
        font-size: 14px;
    }
    .section-second h2 {
        font-size: 35px;
    }
    .section-third-descrption h2{
        font-size: 26px;
    }
    .section-third-descrption p,footer p  {
        font-size: 12px;
    }
    .section-fourth p{
        font-size: 13px;
    }

   
}
@media (min-width:576px) and (max-width:768px){
     button{
        width:80%;
    }
    header{
        text-align: center;
    }
    .header-logo{
        text-align: center;
    }
    .header-title {
        padding-left: 0;
    }
    .header-title h1 {
        font-size: 30px;
    }
    .ul{
        padding: 20px 0;
        justify-content: center;
    }
    .section-first{
        text-align: center;
    }
    .section-second{
        text-align: center;
        padding: 50px 0;
    }
    .section-second h2 {
        font-size: 32px;
    }
    .section-second p{
        font-size: 14px;
    }
    .section-second img{
        padding: 30px 57px;
    }
    .section-third{
        text-align: center;
    }
    .section-fourth {
        padding: 40px 0;
        margin: 50px 0;
    }
    .section-fivth{
        padding: 55px 0;
    }
    .section-fourth-items{
        padding: 40px 0 0;
    }
    .section-fivth-card{
        margin: 30px 90px;
    }
    footer{
        padding: 50px 0;
        text-align: center;
    }
    footer button{
        width: 85%;
    }
    .data-child {
        margin: 50px 40px;
    }
    .connect-data-child {
        margin: 50px 40px;
    }
}
@media (max-width:576px) {
    body button{
        width: 100%;
    }
    header , .header-logo{
        text-align: center;
    }
    
    .header-title  {
        padding-left: 0;
    }
    .ul li {
        padding-left: 18px;
        font-size: 13px;
    }
    .header-title h1 {
        font-size: 22px;
    }
    .header-title p {
        font-size: 11px;
    }
    .ul{
        padding: 20px 0;
        justify-content: center;
    }
    .section-first{
        text-align: center;
    }
    .section-second{
        text-align: center;
        padding: 50px 0;
    }
    .section-second h2{
        font-size: 23px;
    }
    .section-second p{
    font-size: 13px;
    }
    .section-second img{
        padding: 30px 57px;
    }
    .section-third{
        text-align: center;
    }
    .section-third-descrption h2{
        font-size: 23px;
    }
    .section-third-descrption p{
        font-size: 12px;
    }
    .section-fourth {
        padding: 40px 0;
        margin: 50px 0;
    }
   
    .section-fourth p {
        font-size: 11px;
    }
    .section-fivth{
        padding: 55px 0;
    }
    .section-fivth h2{
        font-size: 23px;
    }
    .section-fourth-items{
        padding: 40px 0 0;
    }
    .section-fivth-card{
        margin: 30px 15px;
    }
    footer{
        padding: 50px 0;
        text-align: center;
    }
    footer p{
        font-size: 10px;
    }
    footer h3, footer h4{
        font-size: 22px;
    }
   
    footer button{
        width: 85%;
    }
    .data-child {
        margin: 50px 40px;
    }
    .connect-data-child {
        margin: 50px 40px;
    }
}
